@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: rgb(189, 63, 74);
}
.content.px-4{
    margin: 0;
}
h1{
    margin: 1em 0 !important;
}
h2 {
    margin: 1em 0 !important;
}
.themed-button {
  text-decoration: none;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -.2em;
  padding: .2em 1em;
}

.themed-button:hover {
  background: var(--primary-color);
  color: white;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.my-navbar {
    background: white;
    padding: 1em;
}

.my-navbar .nav-not-pressed {
        display: none;
    }
.my-navbar .nav-pressed {
        display: block;
    }

.my-navbar .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        place-content: space-between;
    }

.my-navbar .container .logo-desktop {
    display: none;
}

.my-navbar .container .logo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3em;
    height: 3em;
}

.my-navbar .mobile-menu {
        cursor: pointer;
    }

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 85%;
  margin-top: 3em;
}

.features-section {
  background: #20272e;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  background: #a3363f;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 5em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #a3363f;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 5em;
  margin-bottom: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.announcements-place {
  margin: .5em;
}

.announcements-place ul {
  display: block;
}

.announcements-place ul li {
  background: white;
  border-radius: 5em;
  margin: 2em auto;
  padding: 1em 2em;
  text-align: center;
}

.announcements-place ul li img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.listings-place {
  margin-top: 3em;
}

.listings-place ul {
  margin-left: 1em;
  display: block;
}

.listings-place ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  padding: 0em 0em 2em 0em;
  border-radius: 2em;
  margin-bottom: 3em;
  margin-right: 1em;
  text-align: center;
}

.listings-place ul li:hover {
  -webkit-box-shadow: 1px 1px 25px #b4b4b4;
          box-shadow: 1px 1px 25px #b4b4b4;
}

.listings-place ul li h2 {
  font-size: 1.5em;
  margin: .5em .3em;
}

.listings-place ul li p {
  margin: 1em;
}

.listings-place ul li img {
  width: 100%;
  height: 15em;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-radius: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.listings-place ul li a {
  text-decoration: none;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -.2em;
  padding: .2em 1em;
}

.listings-place ul li a:hover {
  background: var(--primary-color);
  color: white;
}

.charities-place {
  margin-top: 3em;
}

.charities-place ul {
  margin-left: 1em;
  display: block;
}

.charities-place ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  padding: 0em 0em 2em 0em;
  border-radius: 2em;
  margin-bottom: 3em;
  margin-right: 1em;
  text-align: center;
}

.charities-place ul li:hover {
  -webkit-box-shadow: 1px 1px 25px #b4b4b4;
          box-shadow: 1px 1px 25px #b4b4b4;
}

.charities-place ul li h2 {
  font-size: 1.5em;
  margin: .5em .3em;
}

.charities-place ul li p {
  margin: 1em;
}

.charities-place ul li img {
  width: 15em;
  height: 15em;
  border-radius: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.charities-place ul li a {
  margin: .3em;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-exit {
    display: none;
  }
  .my-navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .my-navbar .container .logo-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        font-weight: bold;
        color: var(--primary-color);
        font-size: 1.5em;
    }
    .my-navbar .container .logo-mobile {
        display: none;
    }
    .my-navbar .nav-not-pressed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .my-navbar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .my-navbar nav a {
        color: black;
        font-size: 1em;
        padding: .1em 1em;
    }
    .my-navbar nav ul.primary-nav {
        margin: 0;
    }
    .my-navbar nav li.current a {
        font-weight: bold;
    }
    .my-navbar nav li.login-btn a {
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;
    }
        .my-navbar nav li.login-btn a:hover {
            background: var(--primary-color);
            color: white;
        }
  .announcements-place {
    padding: 1em;
  }
  .announcements-place ul {
    display: block;
  }
  .announcements-place ul li {
    background: white;
    border-radius: 5em;
    margin: 2em auto;
    padding: 3em 2em;
    text-align: left;
  }
  .announcements-place ul li img {
    margin: -1em 1em !important;
    float: left;
    width: 10em;
    height: 10em;
    border-radius: 50%;
  }
  .listings-place ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .charities-place ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    text-align: center;
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 50%;
    height: 50%;
    margin-right: 8em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li::before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("/img/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
  .listings-place {
    margin-top: 3em;
    margin-right: 5em;
  }
  .listings-place ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .charities-place ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */