@page "/announcements"

<div class="announcements-place">
    <div class="container">
        <ul>
            <li>
                <img src="img/save the children.png" alt="Charity photo">
                <h1 style="margin: 2em;">Searhing volunteers</h1>
                <p>We are in need of volunteers who can help us to do some stuff. If intrested apply <a href="https://www.savethechildren.net/">here.</a></p>
            </li>
            <li>
                <img src="img/save the children.png" alt="Charity photo">
                <h1>Searhing volunteers</h1>
                <p>We are in need of volunteers who can help us to do some stuff. If intrested apply <a href="https://www.savethechildren.net/">here.</a></p>
            </li>
            <li>
                <img src="img/save the children.png" alt="Charity photo">
                <h1>Searhing volunteers</h1>
                <p>We are in need of volunteers who can help us to do some stuff. If intrested apply <a href="https://www.savethechildren.net/">here.</a></p>
            </li>
        </ul>
    </div>
</div>


@code { 
}