@page "/announcements"
@using karma.Data

<div class="announcements-place">
    <div class="container">
        @if (_announcement == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var announcement in _announcement)
                {
                    <li>
                        <img src="img/save the children.png" alt="Charity logo">
                        <h2>@announcement.Title</h2>
                        <p>@announcement.Description</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>



    @code {
        private List<Announcement> _announcement;

        protected override async Task OnInitializedAsync()
        {
            _announcement = await AnnouncementService.GetAnnouncementsAsync();
        }

    }
