@page "/announcements"

<div>
     <img src="./img/maistoBankas.jpg" alt="Maisto bankas logo" width="200" height="200">
     <h1>Maisto bankas</h1>
</div>

<div>
     <img src="./img/gelbekitVaikus.png" alt="Maisto bankas logo" width="200" height="200">
</div>

<div>
     <img src="./img/maltieciai.png" alt="Maisto bankas logo" width="200" height="200">
</div>
@code {

}
