@page "/announcements"
@inject IDialogService _dialogService

<link rel="stylesheet" href="@(nameof(karma)).styles.css" />

<div class="fab">
    <MudFab
        Color="Color.Primary"
        Icon="@Icons.Material.Filled.Add"
        Label="Add announcement"
        @onclick="OpenDialog" />
</div>

<div class="announcements-place">
    <div class="container">
        @if (_announcements == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var announcement in _announcements)
                {
                <li>
                    <img class="profile-pic" src="img/save-the-children.png" alt="Charity logo">
                    <h1 class="charity-title">@announcement.Title</h1>
                    <h3 class="valid-date">Valid until: 2021-11-30</h3>
                    <p class="post-text">@announcement.Description</p>
                    <img class="post-pic" src="img/holding-phone.png" alt="">
                    <a class="upvote-btn">Share!</a>
                </li>
                }
            </ul>
        }
    </div>
</div>