@page "/announcements"
@using karma.Data
@using karma.Components
@inject IDialogService _dialogService

<link rel="stylesheet" href="@(nameof(karma)).styles.css" />

<div class="fab">
    <MudFab
        Color="Color.Primary"
        Icon="@Icons.Material.Filled.Add"
        Label="Add announcement"
        @onclick="OpenDialog" />
</div>

<div class="announcements-place">
    <div class="container">
        @if (_announcements == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var announcement in _announcements)
                {
                    <li>
                        <img src="img/save-the-children.png" alt="Charity logo">
                        <h2>@announcement.Title</h2>
                        <p>@announcement.Description</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>



@code
{
    private List<Announcement> _announcements;

    protected override async Task OnInitializedAsync()
    {
        _announcements = await AnnouncementService.GetAnnouncementsAsync();
    }

    // Define dialog
    async Task OpenDialog()
    {
        var dialog = _dialogService.Show<DialogAddNewAnnouncement>("Add announcement");
        var result = await dialog.Result;
        
        if (!result.Cancelled)
        {
            Announcement announcement = (Announcement) result.Data;
            announcement.Added = DateTime.Now;
            AnnouncementService.AddAnnouncementToDataBase(announcement);
            _announcements.Add(announcement);
        }
    }
}
