@page "/contact"
<section class="contact-section" id="contact">
    <div class="container">
        <div class="contact-left">
            <h2>Contact</h2>

            <form action="">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">

                <label for="email">Email</label>
                <input type="email" id="email" name="email">

                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>

                <input type="submit" class="send-message-cta" value="Send Message">
            </form>
        </div>
        <div class="contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1151.8725653199942!2d25.260900158236772!3d54.731697795073174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd913e2a9765bd%3A0xde54cbb177f5e61b!2sDidlaukio%20g.%2059%2C%20Vilnius%2008302!5e0!3m2!1slt!2slt!4v1632497159916!5m2!1slt!2slt" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
