@page "/"
@inject IDialogService _dialogService
<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="subhead">All charity things in one place!</p>
            <h1>Unified charity app!</h1>

            <div class="hero-cta">
                <a @onclick="OpenDialogRegister" class="primary-cta">Jump into Action</a>
            </div>
        </div>
        <img src="img/logo.png" class="hero-img" alt="logo">
    </div>
</section>

<section class="features-section">
    <div class="container">
        <ul class="features-list">
            <li>Donate to various charities with a few clicks</li>
            <li>Read announcements from charity organisations</li>
            <li>List your items you'd like to give away</li>
            <li>Apply to receive the items that you need</li>
        </ul>

        <img src="img/holding-phone.png" alt="a man holding a phone">
    </div>
</section>
