@page "/listings"
@using karma.Data

<div class="listings-place">
    <div class="container">
        @if (_listing == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var listing in _listing)
                {
                    <li>
                        <img src="img/save the children.png" alt="Charity logo">
                        <h2>@listing.Title</h2>
                        <p>@listing.Description</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@code {
    private List<Listing> _listing;

    protected override async Task OnInitializedAsync()
    {
        _listing = await ListingService.GetListingsAsync();
    }

}
