@page "/listings"

<div class="listings-place">
    <div class="container">
        <ul>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
            <li>
                <img src="img/clothes.jpg" alt="pile of clothes">
                <h2>Giving away lots of clothes.</h2>
                <p>Giving away a pile of clothes to someone that really needs it.</p>
                <a href="#">Apply</a>
            </li>
        </ul>
    </div>
</div>

@code {

}
