@using karma.Data
@inject DialogService _dialogService

<div>
    <div class="form-group">
        <label for="charity-name">Charity name</label>
        <input @bind="CharityName" type="text" class="form-control" id="charity-name" placeholder="Name" />
    </div>

    <div class="form-group">
        <label for="description">Charity description</label>
        <input @bind="CharityDescription" type="text" class="form-control" id="description" placeholder="Description" />
    </div>

    <div class="form-group">
        <label for="website-link">Website link</label>
        <input @bind="Website" type="text" class="form-control" id="website-link" placeholder="Website link" />
    </div>

    <RadzenButton Click="@SubmitForm" Text="Submit" />

    <RadzenButton Click="@Cancel" Text="Cancel" />
</div>

@code {
    string CharityName { get; set; }
    string CharityDescription { get; set; }
    string Website { get; set; }

    private Tuple<bool, Charity> _resultTuple;

    void SubmitForm()
    {
        Charity charity = new (CharityName, CharityDescription, Website);
        _resultTuple = new Tuple<bool, Charity>(true, charity);
        _dialogService.Close(_resultTuple);
    }
   
    void Cancel()
    {
        _resultTuple = new Tuple<bool, Charity>(false, null);
        _dialogService.Close(_resultTuple);
    }
}