@page "/test"

<div>
    <RadzenButton Click=@(args => OnClick("Button with text")) Text="Button" Style="margin-bottom: 20px; width: 150px" />
</div>

<div>
    <RadzenCard>
        <div class="row">
            <div class="col-md-6">
                <RadzenImage Path="./img/maistoBankas.jpg" Style="width:100px;" />
                <div>Freight:</div>
                <b>AAAAAAAAAAAAAAAAA</b>
            </div>
        
        </div>
    </RadzenCard>
</div>

<div>
    <img src="./img/maltieciai.png" alt="Maisto bankas logo" width="200" height="200">
</div>
@code { 
    void OnClick(string buttonName)
    {
        Console.WriteLine($"{buttonName} clicked");
    }
}
