@page "/Userpage"


<MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
    <MudTabPanel Text="Your Announcements">
        <div class="announcements-place">
            <div class="container">
                <h1>cia bus visi announcementai</h1>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Your Listings">
        <div class="listings-place">
            <div class="container">
                <h1>cia bus visi listingai</h1>
            </div>
        </div>
    </MudTabPanel>
</MudTabs>
@code {

}
