@inherits LayoutComponentBase

<RadzenDialog />
<link rel="stylesheet" href="css/main.css">
<link href="favicon.ico" rel="icon" type="image/x-icon" />

<div>
    <div>
        <NavMenu />

        <style type="text/css">
            body {

            }

        </style>

        
            @Body
        </div>
    </div>
