<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div class="d-flex flex-row">
         <img src="./img/charieNoShadowLogo.png" alt="Charie" width="100" height="50" style="padding-right: 20px"/>
         <RadzenMenu>
            <RadzenMenuItem Text="Home" Path="/" Icon="home"></RadzenMenuItem>
            <RadzenMenuItem Text="Announcements" Path="announcements" Icon="feedback"></RadzenMenuItem>
        </RadzenMenu>
      </div>
  </div>
</nav>