@inject IDialogService _dialogService
@inject NavigationManager NavigationManager

<div class="my-navbar">
    <div class="container">
        <a class="logo-desktop" href="#">Cha<span>rie</span></a>
        <a class="logo-mobile" href="#"><img src="/img/favicon.png" alt="Charie logo"></a>

        <img id="mobile-cta" class="mobile-menu" src="img/menu.svg" @onclick="ExpandMenu" alt="Expand navigation menu">

        <nav class="@MenuButtonClass">
            <img id="mobile-exit" class="mobile-exit" src="img/exit.svg" @onclick="CloseMenu" alt="Exit navigation">
            <ul class="primary-nav">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="Announcements">Announcements</a></li>
                <li><a href="Listings">Listings</a></li>
                <li><a href="Charities">Charities</a></li>
                @if (MainUser.IsUser == true)
                {
                    <li><a href="User_page">User page</a></li>
                }
            </ul>

            <ul class="secondary-nav">
                <li><a href="/contact">Contact</a></li>
                @if (MainUser.IsUser == false)
                {
                    <li class="login-btn" @onclick="OpenDialogLogin"><a>Login</a></li>
                    <li class="login-btn" @onclick="OpenDialogRegister"><a>Register</a></li>
                }
                else
                {
                    <li class="login-btn" @onclick="Logout"><a>Logout</a></li>
                }
            </ul>
        </nav>
    </div>
</div>